.App {}
.App{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: repeat(12,1fr);
    text-align: center;
}

.App .Header{
    width: 100%;
    grid-column:span 12;
    background-color: #EDD2F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App .Main{
    width: 100%;
    grid-column:span 10;
    background-color: #FFFCDC;

}
 .App .Menu{
    width: 100%;
    grid-column:span 2;
    background-color: hsl(194, 82%, 74%);;
} 


.App .Footer{
    width: 100%;
    grid-column:span 12;
    background-color: var(--background-color);
    font-size: large;
   }